<div class="container py-5">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <form [formGroup]="transferDetails" id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li [ngClass]="step >= 1 ? 'active ' : 'inactive'">
              Affichage des informations du Transfert
            </li>
            <li [ngClass]="step >= 2 ? 'active' : 'inactive'">
              La saisie des informations du bénéficiaire
            </li>
            <li [ngClass]="step == 3 ? 'active' : 'inactive'">
              Validation du paiement du transfert
            </li>
  
          </ul>
          <!-- fieldsets -->
  
          <fieldset *ngIf="step == 1">
            <h2 class="fs-title">Affichage des informations du Transfert</h2>
            <ng-toast></ng-toast>
            <select
              formControlName="typetransfer"
              class="form-control"
              (change)="onTransferTypeChange()"
            >
              <option value="" disabled selected>Sélectionner le type de transfert</option>
              <option value="SPECIES">En ESPÈCES</option>
              <option value="WALLET">WALLET</option>
            </select>
            <div
             *ngIf="personal_step && transferDetails.controls['typetransfer'].errors">
              <div *ngIf="transferDetails.controls['typetransfer'].errors['required']">
                you should select type of transfer
              </div>
            </div>
  
            <div>
              <input type="text" formControlName="transferRef" placeholder="Entrer la référence du transfert" />
              <div
                style="color: red"
                *ngIf="personal && transferDetails.controls['transferRef'].errors &&
                transferDetails.controls['transferRef'].invalid &&
                transferDetails.controls['transferRef'].touched"
              >
                <div *ngIf="transferDetails.controls['transferRef'].errors['required']">
                  transfer reference is required
                </div>
                <div *ngIf="transferDetails.controls['transferRef'].errors['pattern']">
                  the reference should begin with 837 and contain 13 numbers only
                </div>
              </div>

              <input
                (click)="searchTransfer()"
                type="button"
                name="next"
                class="next action-button"
                value="Search"
                [disabled]="!transferDetails.controls['typetransfer'].valid || !transferDetails.controls['transferRef'].valid"
              />
            </div>
        
            <input
              type="number"
              formControlName="idAgent"
              [ngClass]="{
                'is-invalid': personal_step && personal['idAgent'].errors
              }"
              readonly
              placeholder="Identifiant de l'agent"
  
            />
  
            <input
              type="text"
              formControlName="name"
              [ngClass]="{
                'is-invalid': personal_step && personal['name'].errors
              }"
              readonly
              placeholder="Nom du client"
  
            />
  
            <input
              type="text"
              formControlName="username"
              [ngClass]="{
                'is-invalid': personal_step && personal['username'].errors
              }"
              readonly
              placeholder="Username"
  
            />

            <input
              type="text"
              formControlName="createTime"
              [ngClass]="{
            'is-invalid': personal_step && personal['createTime'].errors
          }"
              readonly
              placeholder="Date d'émission"
            />
            <input
              type="text"
              formControlName="amount_transfer"
              [ngClass]="{
          'is-invalid': personal_step && personal['amount_transfer'].errors
        }"
              readonly
              placeholder="Montant à servir"
            />
            <input
              type="text"
              formControlName="firstName"
              [ngClass]="{
        'is-invalid': personal_step && personal['firstName'].errors
      }"
              readonly
              placeholder="Prénom du bénéficaire"
            />
            <input
              type="text"
              formControlName="lastname"
              [ngClass]="{
      'is-invalid': personal_step && personal['lastname'].errors
    }"
              readonly
              placeholder="Nom du bénéficaire"
            />
            <input
              (click)="next()"
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />
          </fieldset>
        </form>
  
        <form [formGroup]="beneficiaryDetails" id="msform">
          <fieldset *ngIf="step == 2">
            <h2 class="fs-title">La saisie des informations du bénéficiaire</h2>
            <select
            formControlName="title"
            class="form-control"
          >
            <option value="" disabled selected>Titre</option>
            <option value="Mme">Mme</option>
            <option value="M">M</option>
          </select>
          <div *ngIf="transfer_step && beneficiaryDetails.controls['title'].errors">
            <div *ngIf="transferD['title'].errors['required']">
              title is required
            </div>
          </div>

            <select
            formControlName="pieceIdentite"
            class="form-control"
          >
            <option value="" disabled selected>Type de pièce d'identité</option>
            <option value="carteNational">carteNational</option>
            <option value="passport">passport</option>
          </select>
          <div *ngIf="transfer_step && beneficiaryDetails.controls['pieceIdentite'].errors">
            <div *ngIf="transferD['pieceIdentite'].errors['required']">
              pieceIdentite is required
            </div>
          </div>

            <input type="text" name="paysEmission" formControlName="paysEmission" placeholder="Pays d’émission" />
            <div *ngIf="transfer_step && beneficiaryDetails.controls['paysEmission'].errors">
              <div *ngIf="transferD['paysEmission'].errors['required']">
                paysEmission is required
              </div>
            </div>


            <input type="text" name="numeroPieceIdentite" formControlName="numeroPieceIdentite"  placeholder="N° pièce d'identité" />
            <div *ngIf="transfer_step && beneficiaryDetails.controls['numeroPieceIdentite'].errors">
              <div *ngIf="transferD['numeroPieceIdentite'].errors['required']">
                numeroPieceIdentite is required
              </div>
            </div>


            <input type="date" name="expirationPieceIdentite" formControlName="expirationPieceIdentite" (change)="formatDate($event)"  placeholder="expirationPieceIdentite"/>
            <div *ngIf="transfer_step && beneficiaryDetails.controls['expirationPieceIdentite'].errors">
              <div *ngIf="transferD['expirationPieceIdentite'].errors['required']">
                expirationPieceIdentite is required
              </div>
            </div>
  
            <input type="date" formControlName="validitePieceIdentite" (change)="formatDate($event)" placeholder="Validité de pièce d’identité" />
            <div
              *ngIf="transfer_step && beneficiaryDetails.controls['validitePieceIdentite'].errors"
            >
              <div *ngIf="transferD['validitePieceIdentite'].errors['required']">
                validitePieceIdentite is required
              </div>
            </div>
  
            <input type="date" formControlName="datenaissance" (change)="formatDate($event)" placeholder="Date de naissance" />
            <div
              *ngIf="transfer_step && beneficiaryDetails.controls['datenaissance'].errors"
            >
              <div *ngIf="transferD['datenaissance'].errors['required']">
                datenaissance is required
              </div>
            </div>

  
            <select
              formControlName="profession"
              class="form-control"
            >
              <option value="" disabled selected>Profession</option>
              <option value="ingénieur">ingénieur</option>
            </select>
            <div *ngIf="transfer_step && beneficiaryDetails.controls['profession'].errors">
              <div *ngIf="transferD['profession'].errors['required']">
                profession is required
              </div>
            </div>


            <input type="text" formControlName="payeNationale" placeholder="Pays de nationalité" />
            <div
              *ngIf="transfer_step && beneficiaryDetails.controls['payeNationale'].errors"
            >
              <div *ngIf="transferD['payeNationale'].errors['required']">
                payeNationale is required
              </div>
            </div>
  
  
            <select
              formControlName="ville"
              class="form-control"
            >
              <option value="" disabled selected>Ville</option>
              <option value="safi">safi</option>
              <option value="Casablanca">Casablanca</option>
              <option value="Tanger">Tanger</option>
            </select>
            <div *ngIf="transfer_step && beneficiaryDetails.controls['ville'].errors">
              <div *ngIf="transferD['ville'].errors['required']">
                ville is required
              </div>
            </div>
  
  
            <input
              (click)="previous()"
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
            <input
              (click)="next()"
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />
          </fieldset>
        </form>
  
  
        <form [formGroup]="Otp" id="msform">
          <fieldset *ngIf="step == 3">
            <h2 class="fs-title">Validation du paiement du transfert</h2>
            <ng-toast></ng-toast>
            <div *ngIf="walletSelected">

              <button [disabled]="otpSent" class="btn btn-primary" style="display: block; align-items: start; padding: 6px; margin: 10px;" (click)="sendOtp()">Send Otp</button>
  
              <input
                type="text"
                formControlName="otp"
                placeholder="enter the otp"
              />
    
              <div
                *ngIf="otp && Otp.controls['otp'].errors"
              >
                <div *ngIf="Otp.controls['otp'].errors['required']">
                  Otp is required
                </div>
              </div>
    
              <button [disabled]="otpValidated" class="btn btn-primary" style="display: block; align-items: start; padding: 6px; margin: 10px;" (click)="validateOtp()">Validate Otp</button>
    

            </div>
           
            <input
              (click)="previous()"
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
            <input
              (click)="submit() ; validatePayment()"
              type="submit"
              name="submit"
              class="submit action-button"
              value="Submit"
            />
            <input
            (click)="generatePaymentReceipt()"
            *ngIf="transferPaid"
            type="submit"
            name="submit"
            class="submit action-button"
            value="Télécharger le reçu de paiement"
          />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  