<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container py-5 px-lg-5">
        <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="position-relative d-inline text-primary ps-4">Nos Services</h6>
            <h2 class="mt-2">les différentes Caratéristiques</h2>
        </div>



        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-file fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Inscription facile et rapide</h5>
                    <p class="m-0">Créez un profil gratuitement et en quelques clics pour utiliser nos services de transferts d’argent internationaux.</p>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-laptop-code fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Suivi du transfert</h5>
                    <p class="m-0">Effectuez facilement le suivi de votre transfert en ligne et sur l’application.</p>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-check-square fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Choix du moyen de paiement</h5>
                    <p class="m-0">Payez comme bon vous semble : avec votre compte bancaire, avec votre carte de crédit2/débit, mais aussi, en espèces.</p>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-lightbulb fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Simplicité et commodité</h5>
                    <p class="m-0">Effectuez un transfert d’argent de la manière qui vous convient le mieux : en ligne, via notre application, ou encore en personne dans l’un de nos points de vente.</p>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-thumbs-up fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Restitution facile</h5>
                    <p class="m-0">Notre fonction de restitution en un seul clic vous permet de récupérer rapidement et facilement un transfert d’argent en cas de demande du client.</p>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-arrow-alt-circle-up fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Fléxibilité</h5>
                    <p class="m-0">Les taux de change et les frais indiqués sont des estimations, peuvent varier selon plusieurs facteurs.</p>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Service End -->

