/*** Service ***/
.service-item {
  position: relative;
  padding: 45px 30px;
  background: var(--light);
  overflow: hidden;
  transition: .5s;
}

.service-item:hover {
  margin-top: -15px;
  padding-bottom: 60px;
  background: var(--primary);
}

.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  background: url(../../../../../assets/img/blob-primary.png) center center no-repeat;
  background-size: contain;
  transition: .5s;
}

.service-item:hover .service-icon {
  color: var(--dark);
  background: url(../../../../../assets/img/blob-secondary.png) center center no-repeat;
  background-size: contain;
}

.service-item h5,
.service-item p {
  transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
  color: #FFFFFF;
}

.service-item a.btn {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary);
  background: #FFFFFF;
  border-radius: 40px 40px 0 0;
  transition: .5s;
  z-index: 1;
}

.service-item a.btn:hover {
  color: var(--dark);
  background: var(--secondary);
}

.service-item:hover a.btn {
  bottom: 0;
}

