.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-width: 100%;
}
.table-title h2 {
    margin: 8px 0 0;
    font-size: 22px;
}
.search-box {
    position: relative;        
    float: right;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child {
    width: 130px;
}
table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}
table.table td a.view {
    color: #03A9F4;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}    
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}  

a{
    cursor: pointer;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  max-width: 900px; /* Adjust the desired width */
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-group .form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group label {
  flex-basis: 50%;
  font-weight: bold;
  margin-bottom: 5px;
}

.close-modal-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  margin-top: 0;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-secondary {
  background-color: #ccc;
  color: #fff;
  border: none;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #0056b3;
}
.page-item{
  cursor: pointer;
}


.page-item{
  margin: 5px;
}


.modal-content {
  max-width: 600px;
}


@media screen and (max-width: 768px) {
  .modal-content {
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    max-width: 50%;
    padding: 10px;
  }

  .form-group label {
    flex-basis: 100%;
  }


}


.custom-btn {
  background-color: #5D3587;
  margin: 5px;
  color: white;
  border: none;
  padding: 7px;
  width: fit-content;
  border-radius: 5px; 
  transition: transform 0.3s ease;
}

/* Add hover effect */
.custom-btn:hover {
  background-color: #392467; 
  transform: scale(1.2); 
}
