
<app-nav-bar></app-nav-bar>
<div class="container-fluid bg-primary hero-header">
  <div class="container px-lg-5">
      <div class="row g-5 align-items-end">
          <div class="col-lg-6 text-center text-lg-start">
              <h1 class="text-white mb-4 animated slideInDown">Envoyez de l'argent partout, en toute simplicité, avec notre service de transfert bancaire.</h1>
              <p class="text-white pb-3 animated slideInDown">Envoyez de l’argent en ligne à vos proches en quelques instants, Gérez facilement et efficacement les transferts bancaires nationales grâce à notre application Bank Transfer. Simplifiez vos opérations financières et effectuez des transferts rapides et sécurisés.</p>
              <a class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft" routerLink="/Auth/login">En savoir plus</a>
              <a class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">À propos de nous</a>
          </div>
          <div class="col-lg-6 text-center text-lg-start">
              <img class="img-fluid animated zoomIn" src="img/hero.png" alt="">
          </div>
      </div>
  </div>
</div>