.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.not-found-image {
    max-width: 100%;
    height: auto;
    max-height: 90vh;
}

.not-found-text {
    font-size: 1.5rem;
    margin-top: 20px;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-weight: 700;
    color: #555;
    max-width: 90%;
}

.back-home-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other content */
}

.back-home-icon svg {
  fill: #333; /* Icon color */
}

