/* Add CSS rules for different screen sizes */
@media (min-width: 576px) { /* Small devices (576px and up) */
    .search-input {
      width: 250px; /* Adjust width for small devices */
    }
  }
  
  @media (min-width: 768px) { /* Medium devices (768px and up) */
    .search-input {
      width: 400px; /* Adjust width for medium devices */
    }
  }
  
  @media (min-width: 992px) { /* Large devices (992px and up) */
    .search-input {
      width: 500px; /* Adjust width for large devices */
    }
  }
  
  @media (min-width: 1200px) { /* Extra large devices (1200px and up) */
    .search-input {
      width: 600px; /* Adjust width for extra large devices */
    }
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  
  .header-of-search {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    flex: 1;
    margin-right: 10px;
  }
  
  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .exportButton{
    margin: 20px;
  }
  
  
  .custom-btn {
    padding: 8px 16px;
    background-color: #5D3587;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    transition: transform 0.3s ease;
  }

  .custom-btn:hover {
    background-color: #392467; 
    transform: scale(1.2); 
}
.tableau{
    padding-left: 15px;
    padding-right: 10px;
}

a{
  cursor: pointer;
}


.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  max-width: 900px; /* Adjust the desired width */
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-group .form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group label {
  flex-basis: 50%;
  font-weight: bold;
  margin-bottom: 5px;
}

.close-modal-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  margin-top: 0;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-secondary {
  background-color: #ccc;
  color: #fff;
  border: none;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #0056b3;
}
