<div class="container py-5">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <form [formGroup]="personalDetails" id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
          <li [ngClass]="step >= 1 ? 'active ' : 'inactive'">
            les informations du client donneur d'ordre
          </li>
          <li [ngClass]="step >= 2 ? 'active' : 'inactive'">
            Montant du transfert
          </li>
          <li [ngClass]="step == 3 ? 'active' : 'inactive'">
            Notification du transfert
          </li>

        </ul>
        <!-- fieldsets -->

        <fieldset *ngIf="step == 1">
          <h2 class="fs-title">Personal Details</h2>
          <ng-toast></ng-toast>
          <select formControlName="typetransfer" class="form-control">
            <option value="" disabled selected>Select Transfer Type</option>
            <option value="ACCOUNT_DEBIT"> ACCOUNT_DEBIT</option>
            <option value="SPECIES">SPECIES</option>
          </select>
          <div *ngIf="personal && personalDetails.controls['typetransfer'].errors">
            <div *ngIf="personalDetails.controls['typetransfer'].errors['required']">
              You should select type of transfer
            </div>
          </div>
          <div *ngIf="personalDetails.controls['typetransfer'].value === 'ACCOUNT_DEBIT'">
            <input type="text" formControlName="phone" placeholder="Phone number" />
            <div *ngIf="personal && personalDetails.controls['phone'].errors">
              <div *ngIf="personalDetails.controls['phone'].errors['required']">
                Phone number is required
              </div>
            </div>
            <div *ngIf="errorPhone">{{ errorPhone }}</div>
          </div>
          <div *ngIf="personalDetails.controls['typetransfer'].value !== 'ACCOUNT_DEBIT'">
            <select formControlName="typePieceIdentite" class="form-control">
              <option value="" disabled selected>Select type of identity document</option>
              <option value="carteNational"> carteNational</option>
              <option value="passport">passport</option>
            </select>
            <div *ngIf="personal && personalDetails.controls['typePieceIdentite'].errors">
              <div *ngIf="personalDetails.controls['typePieceIdentite'].errors['required']">
                You should select type of identity document
              </div>
            </div>
            <input type="text" formControlName="Idnumber" placeholder="Id number" />
            <div *ngIf="personal && personalDetails.controls['Idnumber'].errors">
              <div *ngIf="personalDetails.controls['Idnumber'].errors['required']">
                Id number is required
              </div>
            </div>
            <div *ngIf="errorPhone">{{ errorPhone }}</div>
          </div>
          <button #searchButton type="button" class="next action-button" (click)="performSearch()">Search</button>



          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <input
            type="number"
            formControlName="id_donor"
            [ngClass]="{
              'is-invalid': personal_step && personal['id_donor'].errors
            }"
            readonly
            placeholder="Id"

          />

          <input
            type="text"
            formControlName="username"
            [ngClass]="{
              'is-invalid': personal_step && personal['username'].errors
            }"
            readonly
            placeholder="email"

          />

          <input
            type="text"
            formControlName="title"
            [ngClass]="{
              'is-invalid': personal_step && personal['title'].errors
            }"
            readonly
            [value]="tt"
            placeholder="Title"

          />


          <input
            type="text"
            formControlName="pieceIdentite"
            [ngClass]="{
          'is-invalid': personal_step && personal['pieceIdentite'].errors
        }"
            readonly
            placeholder="Piece Identite"
          />
          <input
            type="text"
            formControlName="paysEmission"
            [ngClass]="{
        'is-invalid': personal_step && personal['paysEmission'].errors
      }"
            readonly
            placeholder="Pay d'emission"
          />
          <input
            type="text"
            formControlName="numeroPieceIdentite"
            [ngClass]="{
      'is-invalid': personal_step && personal['numeroPieceIdentite'].errors
    }"
            readonly
            placeholder="numero de Piece d'identite"
          />
          <input
            type="text"
            formControlName="expirationPieceIdentite"
            [ngClass]="{
    'is-invalid': personal_step && personal['expirationPieceIdentite'].errors
  }"
            readonly
            placeholder="expiration Piece d'identite"
          />
          <input
            type="text"
            formControlName="validitePieceIdentite"
            [ngClass]="{
  'is-invalid': personal_step && personal['validitePieceIdentite'].errors
}"
            readonly
            placeholder="validite de Piece d'identite"
          />
          <input
            type="text"
            formControlName="datenaissance"
            [ngClass]="{
  'is-invalid': personal_step && personal['datenaissance'].errors
}"
            readonly
            placeholder="date de naissance"
          />
          <input
            type="text"
            formControlName="profession"
            [ngClass]="{
  'is-invalid': personal_step && personal['profession'].errors
}"
            readonly
            placeholder="profession"
          />
          <input
            type="text"
            formControlName="payeNationale"
            [ngClass]="{
  'is-invalid': personal_step && personal['payeNationale'].errors
}"
            readonly
            placeholder="paye de Nationalé"
          />



          <input
            type="text"
            formControlName="ville"
            [ngClass]="{
              'is-invalid': personal_step && personal['ville'].errors
            }"
            readonly
            placeholder="Ville"
          />
          <div *ngIf="personal_step && personalDetails.controls['ville'].errors">
            <div *ngIf="personal['ville'].errors['required']">
              ville is required
            </div>
          </div>

          <input
            type="text"
            formControlName="gsm"
            name="gsm"
            placeholder="Gsm"
            readonly
          />
          <div
            *ngIf="personal_step && personalDetails.controls['gsm'].errors"
          >
            <div *ngIf="personal['gsm'].errors['required']">
              GSM is required
            </div>
          </div>



          <input
            (click)="next()"
            type="button"
            name="next"
            class="next action-button"
            value="Next"
          />
        </fieldset>
      </form>

      <form [formGroup]="transferDetails" id="msform">
        <fieldset *ngIf="step == 2">
          <h2 class="fs-title">Transfer Details</h2>
          <ng-toast></ng-toast>

          <input type="number" name="amount" formControlName="amount"  placeholder="montant du transfert" />
          <div *ngIf="transferD && transferDetails.controls['amount'].errors">
            <div *ngIf="transferD['amount'].errors['required']">
              amount is required
            </div>
          </div>
          <div>
            <select formControlName="usernameSelected" class="form-control"  (change)="onSelectBeneficiary($event)">
              <option value="" disabled selected>choisit votre client</option>
              <option *ngFor="let beneficiary of beneficiaries$ | async" [value]="beneficiary.id">
                {{ beneficiary.username }}
              </option>
            </select>
            <!-- ... -->

            <div *ngIf="transferD && transferDetails.controls['usernameSelected'].errors">
              <div *ngIf="transferDetails.controls['usernameSelected'].errors['required']">
                vous devez choisir un client
              </div>
            </div>
            <button mat-raised-button (click)="openDialog()">Add beneficiay</button>
          </div>

          <input type="text" formControlName="name" placeholder="le nom du bénéficaire" />
          <div
            *ngIf="transferD && transferDetails.controls['name'].errors"
          >
            <div *ngIf="transferD['name'].errors['required']">
              name is required
            </div>
          </div>

          <input type="text" formControlName="first_name" placeholder="le prénom du bénéficaire" />
          <div
            *ngIf="transferD && transferDetails.controls['first_name'].errors"
          >
            <div *ngIf="transferD['first_name'].errors['required']">
              first name is required
            </div>
          </div>


          <input type="email" formControlName="email" placeholder="Email" />
          <div
            *ngIf="transferD && transferDetails.controls['email'].errors"
          >
            <div *ngIf="transferD['email'].errors['required']">
              email is required
            </div>
          </div>

          <select
            formControlName="notification"
            class="form-control"

          >
            <option value="" disabled selected>Notification du transfer</option>
            <option value="true"> true</option>
            <option value="false">false</option>
          </select>
          <div *ngIf="transferD && transferDetails.controls['notification'].errors">
            <div *ngIf="transferD['notification'].errors['required']">
              notification is required
            </div>
          </div>


          <select
            formControlName="typeOffees"
            class="form-control"

          >
            <option value="" disabled selected>Type des frais</option>
            <option value="donor"> donor</option>
            <option value="beneficiary">beneficiary</option>
            <option value="shared">shared</option>

          </select>
          <div *ngIf="transferD && transferDetails.controls['typeOffees'].errors">
            <div *ngIf="transferD['typeOffees'].errors['required']">
              type Of fees is required
            </div>
          </div>


          <input
            (click)="previous()"
            type="button"
            name="previous"
            class="previousButton"
            value="Previous"
          />
          <input
            (click)="next()"
            type="button"
            name="next"
            class="next action-button"
            value="Next"
          />
        </fieldset>
      </form>


      <form [formGroup]="Otp" id="msform">
        <fieldset *ngIf="step == 3">
          <h2 class="fs-title">Validation de l'otp</h2>
          <ng-toast></ng-toast>
          <div *ngIf="!transferDone">
          <button [disabled]="otpSent" class="btn btn-primary" style="display: block; align-items: start; padding: 6px; margin: 10px;" (click)="sendOtp()">Send Otp</button>
       <!--   <div *ngIf="transferMessage">
            {{ transferMessage }}
          </div> -->

          <input
            type="text"
            formControlName="otp"
            placeholder="enter the otp"
          />

          <div
            *ngIf="otp && Otp.controls['otp'].errors"
          >
            <div *ngIf="Otp.controls['otp'].errors['required']">
              Otp is required
            </div>
          </div>

          <button [disabled]="otpValidated" class="btn btn-primary" style="display: block; align-items: start; padding: 6px; margin: 10px;" (click)="validateOtp()">Validate Otp</button>

          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <input
            (click)="previous()"
            type="button"
            name="previous"
            class="previous action-button-previous"
            value="Previous"
          />
          </div>
          <input
            (click)="submit()"
            [disabled]="transferDone"
            [hidden]="transferDone"
            type="submit"
            name="submit"
            class="submit action-button"
            value="Submit"
          />
          <input
            (click)="submit()"
            [hidden]="!transferDone"
            type="submit"
            name="download"
            class="submit action-button"
            value="download"
          />
        </fieldset>
      </form>

      <form  id="msform">
        <fieldset *ngIf="step == 3 && transferDone">
          <h2 class="fs-title">Télecharger le recu</h2>


          <input
            (click)="generate_transfert_Receipt_agent()"
            type="submit"
            name="download"
            class="submit action-button"
            value="download"
          />
        </fieldset>
      </form>
    </div>
  </div>
</div>
