
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

body {
  font-family: "Lato";
  font-size: 100%;
  overflow-y: scroll;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}

a {
  text-decoration: none;
  transition: all 0.6s ease;

  &:hover {
    transition: all 0.6s ease;
  }
}

.app {
  height: 100vh;
}

/* Sidebar */
.sidebar {
  position: absolute;
  width: 17em;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #e8e5e5;
  transform: translateZ(0);
  visibility: visible;
  backface-visibility: hidden;

  header {
    background-color: #e8e5e5;
    width: 100%;
    display: block;
    padding: 0.75em 1em;
  }
}

/* Sidebar Nav */
.sidebar-nav {
  position: fixed;
  background-color: #e8e5e5;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;

    li {
      margin-left: 0;
      padding-left: 0;
      display: inline-block;
      width: 100%;

      a {
        color: rgba(21, 20, 20, 0.9);
        font-size: 0.75em;
        padding: 1.05em 1em;
        position: relative;
        display: block;

        &:hover {
          background-color: rgba(250, 248, 248, 0.9);
          transition: all 0.6s ease;
        }
      }

      /* Sidebar Icons */
      i {
        font-size: 1.8em;
        padding-right: 0.5em;
        width: 9em;
        display: inline;
        vertical-align: middle;
      }
    }
  }

  /* Chev elements */
  & > ul > li > a:after {
    content: '\f125';
    font-family: ionicons;
    font-size: 0.5em;
    width: 10px;
    color: #fff;
    position: absolute;
    right: 0.75em;
    top: 45%;
  }

  /* Nav-Flyout */
  & .nav-flyout {
    position: absolute;
    background-color: #ebecef;
    z-index: 9;
    left: 2.5em;
    top: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s ease;

    a:hover {
      background-color: #ebecef;
    }
  }

  /* Hover */
  & ul > li:hover {
    .nav-flyout {
      transform: translateX(0);
      transition: all 0.5s ease;
    }
  }
}
