<div class="sidebar" #sidebar>
  <div class="logo_details">
    <i class="bx bxl-audible icon"></i>
    <div class="logo_name">Dashboard</div>
    <i class="bx bx-menu" id="btn" #closeBtn (click)="toggleSidebar()"></i>
  </div>
  <ul class="nav-list">

    <li>
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search...">
       <span class="tooltip">Search</span>
    </li>

    <li>
      <a href="#">
        <i class="bx bx-grid-alt"></i>
        <span class="link_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>


    <li>
      <a routerLink="users">
        <i class="bx bx-user"></i>
        <span class="link_name">Users</span>
      </a>
      <span class="tooltip">User</span>
    </li>

    <li>
      <a href="#">
        <i class="bx bx-chat"></i>
        <span class="link_name">Message</span>
      </a>
      <span class="tooltip">Message</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="link_name">Analytics</span>
      </a>
      <span class="tooltip">Analytics</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-folder"></i>
        <span class="link_name">File Manger</span>
      </a>
      <span class="tooltip">File Manger</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-cart-alt"></i>
        <span class="link_name">Order</span>
      </a>
      <span class="tooltip">Order</span>
    </li>



    <li class="dropdown">
      <a (click)="toggleDropdown(3)">
        <i class="bi bi-cash-stack"></i>
        <span class="link_name">Gab Boa</span>
        <i class="bx bx-chevron-down arrow" *ngIf="isDropdownOpen3"></i>
      </a>
      <span class="tooltip">Gab Boa</span>
      <!-- Sub-items container -->
      <ul class="sub-items" *ngIf="isDropdownOpen3">
        <li>
          <a  routerLink="gab-boa">
            <span class="link_name">Servir un transfert</span>
          </a>
        </li>
        <!-- Add more sub-items as needed -->
      </ul>
    </li>



    <li class="dropdown">
      <a (click)="toggleDropdown(1)">
        <i class="bx bx-category"></i>
        <span class="link_name">Gestion des transactions</span>
        <i class="bx bx-chevron-down arrow" *ngIf="isDropdownOpen1"></i>
      </a>
      <span class="tooltip">New transaction</span>
      <!-- Sub-items container -->
      <ul class="sub-items" *ngIf="isDropdownOpen1">
        <li>
          <a routerLink="par-debit-compte">
            <span class="link_name">émettre un transfert</span>
          </a>
        </li>
        <li>
          <a  routerLink="servir-transfert">
            <span class="link_name">Servir un transfert</span>
          </a>
        </li>
        <li>
          <a  routerLink="extourne-transfert">
            <span class="link_name">Extourne un transfert</span>
          </a>
        </li>
        
        <li>
          <a routerLink="return-the-transfer">
            <span class="link_name">Réstitué un transfert</span>
          </a>
        </li>
        <!-- Add more sub-items as needed -->
      </ul>
    </li>



    <li class="dropdown">
      <a (click)="toggleDropdown(2)">
        <i class="bx bx-building"></i>
       <!--  <i class="bi bi-building"></i>//B
        <i class="bi bi-briefcase"></i>//B -->
        <span class="link_name">BackOffice</span>
        <i class="bx bx-chevron-down arrow" *ngIf="isDropdownOpen2"></i>
      </a>
      <span class="tooltip">BackOffice</span>
      <!-- Sub-items container -->
      <ul class="sub-items" *ngIf="isDropdownOpen2">
        <li>
          <a routerLink="consult-transfert">
            <span class="link_name">Consulter les transferts</span>
          </a>
        </li>
        <li>
          <a routerLink="renvoi-notification">
            <span class="link_name">Renvoi Des Notifications</span>
          </a>
        </li>
        <!-- Add more sub-items as needed -->
      </ul>
    </li>


    <li>
      <a href="#">
        <i class="bx bx-cog"></i>
        <span class="link_name">Settings</span>
      </a>
      <span class="tooltip">Settings</span>
    </li>



    <li class="profile">
      <div class="profile_details">
        <img routerLink="profile-admin" src="assets/profile.jpeg" alt="profile image">
        <div class="profile_content">
          <div class="name">Anna Jhon</div>
          <div class="designation">Admin</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out"></i>
    </li>

  </ul>
</div>
<!-- this is the header-dassh -->

<div class="header-section">
  <app-header-dash></app-header-dash>
</div>

<!-- this is the component  -->
<section class="home-section">
  <router-outlet></router-outlet>
</section>
