<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Bank Transfer</h3>
            <p>
              Eddahbi, <br>
              Casablanca<br><br>
              <strong>Phone:</strong> +212 693452015<br>

            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/home" style="color:#A367B1">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/about" style="color:#A367B1">About</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/rooms" style="color:#A367B1">Transfer</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/contact" style="color:#A367B1">Restitution</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="Booking_customer/create" style="color:#A367B1">Sign Up</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/Invoice" style="color:#A367B1">Login</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a  style="color:#A367B1">Inscription facile et rapide</a></li>
            <li><i class="bx bx-chevron-right"></i> <a  style="color:#A367B1">suivi du transfert</a></li>
            <li><i class="bx bx-chevron-right"></i> <a  style="color:#A367B1">plusieur mode de payement</a></li>
            <li><i class="bx bx-chevron-right"></i> <a  style="color:#A367B1">Réstitution facile</a></li>

          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our offers</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex">
              Transert national
            </li>

            <li class="list-group-item d-flex">
              Réstitution

            </li>


          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; 2024 Bank Transfer Casablanca. All Rights Reserved
    </div>

    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ -->
  </div>
