/*** Newsletter ***/
.newsletter {
  margin: 6rem 0;
  background:

          url(../../../../../assets/img/blob-top-left.png),
          url(../../../../../assets/img/blob-top-right.png),
          url(../../../../../assets/img/blob-bottom-left.png),
          url(../../../../../assets/img/blob-bottom-right.png),
          url(../../../../../assets/img/blob-center.png);
  background-position:
          left 0px top 0px,
          right 0px top 0px,
          left 0px bottom 0px,
          right 0px bottom 0px,
          center center;
  background-repeat: no-repeat;
}

