<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                   <!--  <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div> -->
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Id</label><input type="text" class="form-control" placeholder="Id" value=""></div>
                    <div class="col-md-12"><label class="labels">Title</label><input type="text" class="form-control" placeholder="Title" value=""></div>
                    <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control" placeholder="Username" value=""></div>
                    <div class="col-md-12"><label class="labels">Password</label><input type="text" class="form-control" placeholder="Password" value=""></div>
                    <div class="col-md-12"><label class="labels">Create Time</label><input type="text" class="form-control" placeholder="Create Time" value=""></div>
                    <div class="col-md-12"><label class="labels">Role</label><input type="text" class="form-control" placeholder="Role" value=""></div>
                    <div class="col-md-12"><label class="labels">Piece d'identité</label><input type="text" class="form-control" placeholder="Piece d'identité" value=""></div>
                    <div class="col-md-12"><label class="labels">Pays d'émission</label><input type="text" class="form-control" placeholder="Pays d'émission" value=""></div>
                    <div class="col-md-12"><label class="labels">Numero de piece d'identité</label><input type="text" class="form-control" placeholder="Numero de piece d'identité" value=""></div>
                    <div class="col-md-12"><label class="labels">Expiration de piece d'identité</label><input type="text" class="form-control" placeholder="Expiration de piece d'identité" value=""></div>
                    <div class="col-md-12"><label class="labels">Validité de piece d'identité</label><input type="text" class="form-control" placeholder="Validité de piece d'identité" value=""></div>
                    <div class="col-md-12"><label class="labels">Date de Naissance</label><input type="text" class="form-control" placeholder="Date de Naissance" value=""></div>
                    <div class="col-md-12"><label class="labels">Profession</label><input type="text" class="form-control" placeholder="Profession" value=""></div>
                    <div class="col-md-12"><label class="labels">Pays Nationale</label><input type="text" class="form-control" placeholder="Pays Nationale" value=""></div>
                    <div class="col-md-12"><label class="labels">Ville</label><input type="text" class="form-control" placeholder="Ville" value=""></div>
                    <div class="col-md-12"><label class="labels">GSM</label><input type="text" class="form-control" placeholder="GSM" value=""></div>
                    <div class="col-md-12"><label class="labels">Account amount</label><input type="text" class="form-control" placeholder="Account amount" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>

