<!-- <app-nav-bar></app-nav-bar> -->
<!-- <br>
<br>
<br> -->

<div class="signup">
  <div class="main-w3layouts wrapper">
    <h1>Register Now</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form [formGroup]="signupForm">
          <input
            class="text"
            type="text"
            name="Username"
            placeholder="Username"
            formControlName="username"
          />
          <input
            class="text email"
            type="email"
            name="email"
            placeholder="Email"
            formControlName="email"
          />
          <input
            class="text"
            type="password"
            name="password"
            placeholder="Password"
            formControlName="password"
          />
          <input
            class="text w3lpass"
            type="password"
            name="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
          <div class="wthree-text">
            <!-- this is the space between them  -->
            <div class="clear"></div>
          </div>
          <input type="submit" value="SIGNUP" [disabled]="signupForm.invalid" (click)="signup()"/>
        </form>
        <p>Already have an Account? <a routerLink="/login"> Login Now!</a></p>
      </div>
    </div>

    <ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
