<div class="containerForm">
  <div class="signupForm">
    <div class="firstPart">
      <h1>SignUp</h1>
      <div class="formFields">
        <form [formGroup]="signupForm">
          <input
            class="text"
            type="text"
            name="Username"
            placeholder="Username"
            formControlName="name"
          />
          <div
            style="color: red"
            *ngIf="
              signupForm.controls['name'].errors &&
              signupForm.controls['name'].invalid &&
              signupForm.controls['name'].touched
            "
          >
            <div *ngIf="signupForm.controls['name'].errors['required']">
              Name is required
            </div>
          </div>
          <input
            class="text"
            type="email"
            name="email"
            placeholder="Email"
            formControlName="username"
          />
          <div
            style="color: red"
            *ngIf="
              signupForm.controls['username'].errors &&
              signupForm.controls['username'].invalid &&
              signupForm.controls['username'].touched
            "
          >
            <div *ngIf="signupForm.controls['username'].errors['required']">
              Email is required
            </div>
            <div *ngIf="signupForm.controls['username'].errors['email']">
              Invalid Email
            </div>
          </div>
          <div class="password-field">
            <input
              class="text"
              type="password"
              name="password"
              placeholder="Password"
              formControlName="password"
              [type]="showPassword1 ? 'text' : 'password'"
            />
            <div
              style="color: red"
              *ngIf="
                signupForm.controls['password'].errors &&
                signupForm.controls['password'].invalid &&
                signupForm.controls['password'].touched
              "
            >
              <div *ngIf="signupForm.controls['password'].errors['required']">
                Password is required
              </div>

              <div *ngIf="signupForm.controls['password'].errors['pattern']">
                Password should contains at least one lowercase letter, one
                uppercase letter, one digit, one special character, and is at
                least 8 characters long
              </div>
            </div>
            <!-- <input
              type="checkbox"
              class="firstCheckBox"
              id="showPassword1"
              [(ngModel)]="showPassword1"
              (change)="togglePasswordVisibility()"
            /> -->
            <input
              class="text"
              type="password"
              name="confirmPassword"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              [type]="showPassword2 ? 'text' : 'password'"
            />
            <div
              style="color: red"
              *ngIf="
                signupForm.controls['confirmPassword'].errors &&
                signupForm.controls['confirmPassword'].invalid &&
                signupForm.controls['confirmPassword'].touched
              "
            >
              <div
                *ngIf="
                  signupForm.controls['confirmPassword'].errors['required']
                "
              >
                confirmPassword is required
              </div>
              <div
                style="color: red"
                *ngIf="
                  signupForm.hasError('passwordMismatch') &&
                  signupForm.controls['confirmPassword'].touched
                "
              >
                Passwords do not match
              </div>

              <div
                *ngIf="signupForm.controls['confirmPassword'].errors['pattern']"
              >
                Password should contains at least one lowercase letter, one
                uppercase letter, one digit, one special character, and is at
                least 8 characters long
              </div>
            </div>
            <!-- <input
              type="checkbox"
              id="showPassword2"
              [(ngModel)]="showPassword2"
              (change)="togglePasswordVisibility2()"
            /> -->
          </div>
          <button
            type="submit"
            value="SIGNUP"
            [disabled]="signupForm.invalid"
            (click)="signup()"
            class="button-86"
          >
            Register
          </button>
        </form>
      </div>
    </div>
    <div class="secondPart">
      <h1>Transfer Your Money Anywhere</h1>
      <img
        data-v-4f74ca3d=""
        src="https://ouch-cdn2.icons8.com/EXqRNzvD9i4KGLuJ-my2eyHBues1K8UcSYiFQR5I7qo/rs:fit:529:456/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvODYy/LzcyYTk4N2FhLTc0/NjMtNDRiNC04NzA2/LWY5YWI2NGRjNmE4/ZS5wbmc.png"
        alt="3D business account PNG, SVG"
        class="image-preview"
        style=""
      />

      <p>
        Already have an Account? <a routerLink="/Auth/login"> Login Now!</a>
      </p>
      <!--  <button class="button-86">
        Login
      </button> -->
    </div>
  </div>
</div>
