
<div class="back-home-icon" (click)="goToHome()">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
  </svg>
</div>
 
 <div class="containerForm">
  <div class="signupForm">
    <div class="firstPart">
      <h1>Login</h1>
      <div class="formFields">
        <form [formGroup]="loginForm">
          <input
            class="text"
            type="email"
            name="email"
            placeholder="Email"
            formControlName="username"
          />
          <div
          style="color: red"
          *ngIf="loginForm.controls['username'].errors &&
          loginForm.controls['username'].invalid &&
          loginForm.controls['username'].touched"
        >
          <div *ngIf="loginForm.controls['username'].errors['required']">
            Email is required
          </div>
          <div *ngIf="loginForm.controls['username'].errors['email']">
            Invalid Email
          </div>
        </div>
          <div class="password-field ">
            <input
              class="text"
              type="password"
              name="password"
              id="typepass"
              placeholder="Password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
            />
            <div
            style="color: red"
            *ngIf="loginForm.controls['password'].errors &&
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched"
          >
            <div *ngIf="loginForm.controls['password'].errors['required']">
              Password is required
            </div>
            <div *ngIf="loginForm.controls['password'].errors['pattern']">
              Password should contains at least one lowercase letter, 
              one uppercase letter, one digit, one special character, and is at least 8 characters long
            </div>
          </div>
          <!--   <input
              type="checkbox"
              id="showPassword"
              [(ngModel)]="showPassword"
              (change)="togglePasswordVisibility()"
            /> -->
          </div>
          <button
            type="submit"
            value="SIGNUP"
            [disabled]="loginForm.invalid"
            (click)="login()"
            class="button-86"
          >
            Login
          </button>
        </form>
      </div>
    </div>
    <div class="secondPart">
      <h1>Transfer Your Money Anywhere</h1>
      <img
        data-v-4f74ca3d=""
        src="https://ouch-cdn2.icons8.com/EXqRNzvD9i4KGLuJ-my2eyHBues1K8UcSYiFQR5I7qo/rs:fit:529:456/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvODYy/LzcyYTk4N2FhLTc0/NjMtNDRiNC04NzA2/LWY5YWI2NGRjNmE4/ZS5wbmc.png"
        alt="3D business account PNG, SVG"
        class="image-preview"
        style=""
      />

      <p>
        Don't have an Account? <a routerLink="/Auth/signup"> Register Now!</a>
      </p>
    </div>
  </div>
</div> 
<app-error-modal [errorMessage]="errorMessage" [showErrorModal]="showErrorModal" (tryAgain)="tryAgain()"></app-error-modal>
