<!-- header.component.html -->
<header class="d-flex justify-content-between align-items-center">
    <div class="search-bar d-none d-sm-block">
      <input type="text" class="search-input" placeholder="Search..." style="outline: none;">
     <!--  <button class="search-button"><i class="bi bi-search"></i></button>
    --> </div>
    <div class="options d-flex">
      <button class="custom-btn"><i class="bi bi-bell bi-bell-custom"></i></button>
      <button class="custom-btn"><i class="bi bi-gear bi-gear-custom"></i></button>
      <button class="custom-btn"><i class="bi bi-bell bi-bell-custom"></i></button>
      <button class="custom-btn"><i class="bi bi-gear bi-gear-custom"></i></button>
      <!-- Add more options as needed -->
    </div>
  </header>
  