<!-- Feature Start -->
<div class="container-fluid py-5">
    <div class="container py-5 px-lg-5">
        <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="feature-item bg-light rounded text-center p-4">
                    <i class="fa fa-user fa-3x text-primary mb-4"></i>
                    <h5 class="mb-3">Compte bancaire</h5>
                    <p class="m-0">Les bénéficiaires peuvent recevoir les fonds directement sur leurs comptes bancaires en toute fiabilité.</p>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature-item bg-light rounded text-center p-4">
                    <i class="fa fa-wallet fa-3x text-primary mb-4"></i>
                    <h5 class="mb-3">Retrait d’espèces</h5>
                    <p class="m-0">Transférez de l’argent pour le retrait d’espèces dans des centaines de milliers d’agences à travers le Maroc, offrant un service national pratique et fiable.</p>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-item bg-light rounded text-center p-4">
                    <i class="fa fa-money-bill fa-3x text-primary mb-4"></i>
                    <h5 class="mb-3">Transferts d'argent</h5>
                    <p class="m-0">Effectuez des transferts d'argent depuis notre application, payez des services et profitez d'autres fonctionnalités pratiques.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Feature End -->

