<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
  <a href="" class="navbar-brand p-0">
      <h1 class="m-0"> Bank Transfer</h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto py-0">
          <a routerLin="/home" routerLinkActive="active" class="nav-item nav-link active">Home</a>
          <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
          <a routerLink="/services" routerLinkActive="active" class="nav-item nav-link">Service</a>
          <a routerLink="/Home/wallet" routerLinkActive="active" class="nav-item nav-link">Transfert</a>
          <a routerLink="/Home/return-the-transfer" routerLinkActive="active" class="nav-item nav-link">Réstitution</a>

        <a routerLink="/Auth/signup"  routerLinkActive="active" class="nav-item nav-link">Sign Up</a>

      </div>
      <a routerLink="/Auth/login" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Get Started</a>
  </div>
</nav>
