<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
  <a href="" class="navbar-brand p-0">
      <h1 class="m-0"> Bank Transfer</h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto py-0">
          <a  routerLinkActive="active" class="nav-item nav-link active">Accueil</a>
          <a (click)="scrollToSection('about')"  class="nav-item nav-link">A propos</a>
          <a  (click)="scrollToSection('services')"  class="nav-item nav-link">Services</a>
          <a routerLink="/Home/wallet" routerLinkActive="active" class="nav-item nav-link">Transfert</a>
          <a routerLink="/Home/return-the-transfer" routerLinkActive="active" class="nav-item nav-link">Réstitution</a>

        <div class="nav-item dropdown">
          <a routerLink="/Auth/signup"  routerLinkActive="active" class="nav-item nav-link" *ngIf="localStorage.getItem('id') == null">Sign Up</a>
          <a routerLink="/Auth/signup"  routerLinkActive="active" class="nav-item nav-link" *ngIf="localStorage.getItem('id') != null">Profile</a>
          <div class="dropdown-menu m-0">
            <a  class="dropdown-item" (click)="logout()">logout</a>
            <a routerLink=""  class="dropdown-item">Profile</a>
            <a routerLink=""  class="dropdown-item">Bénéficaires</a>
          </div>
        </div>


      </div>
      <a routerLink="/Auth/login" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Get Started</a>
  </div>
</nav>
